html{
    font-size: 16px;
    height: 100%;

}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

/*Navbar*/

.navbarLogo{
    height: 1.5rem;
    width: auto;
}

/*body*/


/*formulario*/
.form{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: .5rem;
    max-width: 35rem;
    margin: 0 auto;
}
.form-step {
    display: none;
  }

.card{
    max-width: 100%;
    padding: 3rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.7rem black;
    display: block;
}

.pedidos{
    max-width: 100%;
    padding: 3rem;
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.7rem black;
}

.input {
    background: none;
    border: none;
    border: .1rem solid #e0e0e0;
    border-radius: 0;
    box-shadow: none;
    margin: .5rem;
}

.form-btn {
    height: auto;
    border-radius: 5px;
    background: #f09c43;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin: 1rem 0;
}

.form-btn:hover {
    background: #EE8F33;
}

.form p{
    text-decoration: underline;
}

/*Footer*/
.footerLista{
    list-style: none;
}
.footerIcon{
    height: 1rem;
    width: auto;
}

