html {
    font-size: 16px;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

/*Navbar*/

.navbar {
    background-color: #f09c43;
}
.navbarContainer {
    margin:  .75rem;
    padding: .75rem;
    background-color: white;
    border-radius: 0.5rem;
}

.navbarLogo {
    height: 2.5rem;
    width: auto;
}

/*body*/
h1, h2{
    font-family: 'Roboto', sans-serif;
    color: #f09c43;
}

h1 span {
    color: black;
}

h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.btnIrForm{
    font-size: 20px;
    width: auto;
    height: 3rem;
    background: #EE8F33;
    color: #fff;
    margin: 1rem 0;
    border: none;
}




/*formulario*/

.form {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin: 0 auto;
    padding: 3rem;
    margin: 2rem auto;
    box-shadow: 0px 0px 0.7rem black;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .25rem;

}

.form-group label {
    font-weight: bold;
    font-size: 16px;
}

.form-group legend {
    font-weight: bold;
    font-size: 16px;
    margin-top: 1rem;
}

.form-group input {
    background-color: #F4DFC9;
    border: none;
    border: .1rem solid #e0e0e0;
    box-shadow: none;
    margin-bottom: 1rem;
}


.form-btn {
    font-size: 20px;
    width: auto;
    height: 3rem;
    background: #EE8F33;
    color: #fff;
    transition: all 0.3s ease-in-out;
    margin: 1rem 0;
    border: none;
}

.form-btn:hover {
    background: #f09c43;
}

.form p {
    margin: .75rem 0;
    padding: .5rem;
    border: 2px solid black;
}

/*Footer*/
footer {
    background-color: #f09c43;
    border-top: .1rem solid black;
}
.footerLista {
    list-style: none;
}

.footerIcon {
    height: 1rem;
    width: auto;
}